.gray {
  color: #bebebe;
}

.huge {
  display: inline-block;
  margin-top: 60%;
  font-family: Inter, Lato, Tahoma, Arial, serif;
  font-weight: 900;
  font-size: calc(30px + 30 * ((100vw - 300px) / 1300)) !important;
}