.navbar-brand > img {
  height: 2em;
  margin-right: 0.5em;
}

html {
  height: 100%;
}

body > #root > div {
  min-height: 100vh;
}

h1 {
  margin-top: 50px;
  font-family: Inter, Lato, Tahoma, Arial, serif;
  font-weight: 900;
  font-size: calc(24px + 14 * ((100vw - 300px) / 1300)) !important;
}

h2 {
  margin: 25px auto;
  text-align: center !important;
  line-height: 150% !important;
  font-size: 18px !important;
  max-width: 400px;
}

.account-suffix {
  position: relative;
  color: rgb(74, 79, 84);
}

.account-suffix-near::after {
  content: '.near';
}

.account-suffix-testnet::after {
  content: '.testnet';
}

.account-suffix::after {
  position: absolute;
  top: 6.5px;
  right: .9em;
  transition: all .05s ease-in-out;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}


.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited .btn-success:disabled {
  background-color: #616E5C !important;
  border: 1px solid #A5C87A !important;
}

.btn-success:hover {
  background-color: #8d8d8d !important;
  border: 1px solid #A5C87A !important;
}

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited .btn-warning:disabled {
  background-color: #A5C87A !important;
  border: 1px solid #A5C87A !important;
}

.btn-warning:hover {
  background-color: #8d8d8d !important;
  border: 1px solid #A5C87A !important;
}

.my-green-big {
  color: #A5C87A;
}

.my-gray {
  color: #8d8d8d;
}

.navigate {
  color: #ffffff;
}
.navigate:hover {
   color: #ffffff;
}
.nonavigate {
  color: #8d8d8d;
}
.nonavigate:hover {
   color: #616E5C;
}

hr {height:1px; border:none; color:#A5C87A; text-align:center;}