.navbar-brand > img {
  height: 2em;
  margin-right: 0.5em;
}

html {
  height: 100%;
}

body > #root > div {
  min-height: 100vh;
}

h0 {
  display: inline-block;
  margin-top: 60%;
  font-family: Inter, Lato, Tahoma, Arial, serif;
  font-weight: 900;
  font-size: calc(30px + 30 * ((100vw - 300px) / 1300)) !important;
}

h1 {
  margin-top: 50px;
  font-family: Inter, Lato, Tahoma, Arial, serif;
  font-weight: 900;
  font-size: calc(24px + 14 * ((100vw - 300px) / 1300)) !important;
}

h2 {
  margin: 25px auto;
  text-align: center !important;
  line-height: 150% !important;
  font-size: 18px !important;
  max-width: 400px;
}

.account-suffix {
  position: relative;
  color: rgb(74, 79, 84);
}

.account-suffix-near::after {
  content: '.near';
}

.account-suffix-testnet::after {
  content: '.testnet';
}

.account-suffix::after {
  position: absolute;
  top: 6.5px;
  right: .9em;
  transition: all .05s ease-in-out;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
